<!DOCTYPE html>
<html>
<head><title>Crop Prediction</title></head>
<body>
  <h1>Crop Prediction</h1>
  <form action="/predict_crop" method="POST">
    Nitrogen: <input type="text" name="nitrogen"><br>
    Phosphorus: <input type="text" name="phosphorus"><br>
    Potassium: <input type="text" name="potassium"><br>
    pH: <input type="text" name="ph"><br>
    <input type="submit" value="Predict">
  </form>
  {% if prediction_text %}
    <h2>{{ prediction_text }}</h2>
  {% endif %}
  <a href="/yield">Go to Yield Prediction</a>
</body>
</html>
 